.item-count-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h4 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  

  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .count-button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #4747473d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .count-button:hover {
    background-color: #ff08087a;
  }
  
  .count-button:active {
    background-color: #ffffff;
  }
  